services:
 <node-name>:
  image: onefinity:testnet
  container_name: <node-name>
  restart: unless-stopped
  environment:
   - NODE_NAME=<node-name>
  volumes:
   - "./volumes/<node-name>/keys/:/opt/onefinity/keys"
   - "./volumes/<node-name>/working-dir/:/opt/working-dir/validator"

